---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Pàgina no trobada">
  <div style="text-align:center; padding:4rem;">
    <h1>404</h1>
    <p>Aquesta pàgina no existeix.</p>
    <a href="/">Tornar a inici</a>
  </div>
</Layout>