---
import Layout from '../layouts/Layout.astro';
import cvData from '../data/cv.json';
---

<Layout title="Informació" description="Formació acadèmica">
  <h2>Educació</h2>

  <ul>
    {cvData.education.map((edu) => (
      <li>
        <a href={`/estudis/${edu.id}`}>
          {edu.degree} - {edu.institution} ({edu.year})
        </a>
      </li>
    ))}
  </ul>
</Layout>

<style>
    h2{
        font-size: 60px;
        font-family: "Press Start 2P", system-ui;
    }
    ul{
		display:flex;
		flex-wrap: wrap;
		width: 60%;
		margin: 10px;
		padding: 30px;
		justify-content: space-around;
		border-radius: 20px;
		background: linear-gradient(360deg,rgba(71, 194, 255, 1) 0%, rgba(87, 255, 106, 1) 100%);
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
        list-style: none;
	}
    }
    li{
        display:flex;
		flex-wrap: wrap;
        margin: 20px;
        list-style: none; 
    }

    li, a{
        transition: background 1s ease, transform 0.5s ease; 
        background: linear-gradient(0deg,rgba(0, 178, 255, 1) 0%, rgba(0, 255, 179, 1) 100%);
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 15px;

         
    }
    li:hover{
            transform: translateY(-5px);
            filter: brightness(0.7); 
    }
</style>

