---

---


<div class="principal"> 
    <a href="../">Inici</a>
    <div>
        <ul>
            <a href="../informacio"><li>Informacio</li></a>
            <a href="../escrits"><li>Writing</li></a>
            <a href="../contacte"><li>Contacte</li></a>
        </ul>
    </div>
    
</div>

<style>

    .principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    ul, li {
        display: flex;
        margin-right: 20px;
        justify-content: space-between;
    }
    li, a{
        font-weight: 700;
        color: black;
        text-decoration: none;
    }
</style>